.index {
    font-family: 'Merienda', cursive;
    text-align: center;
    width: 35%;
    height: 40%;
    margin:auto;
    margin-top: 20%;
    
}

.aboutus {
    font-family: 'Merienda', cursive;
    text-align: center;
    width: 42%;
    margin:auto;
    margin-top: 20%;
}

.button {
    font-family: 'Merienda', cursive;
    background-color: rgb(28, 105, 221);
    color: white;
    border-radius: 30px;
    font-size: 80%;
    height: 40px;
    width: 16%;
    margin-top: 5%;
    cursor: pointer;
}
img{
    height: 10%;
    width: 9%;
    margin: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
}

ol {
    margin: 0%;
}

h2{
    margin: 0%;
}


.table {

    text-align: center;
    width: 42%;
    height: 40%;
    margin:auto
    
}

table {
    margin-left: 20%;
}

table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 20px 80px 10px 10px;
    text-align: left;
}

.tableh1 {
    text-align: center;
    margin-bottom: 6%;
    margin-top: 30%;
}

#formtitle {
    font-family: 'Halant', serif;
    font-size: 64px;
    margin-left: 10%;
    padding-top: 5%;
    
}

#formbody {
 background-color: grey;
}
.form {
    
    
    height: 70% ;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    
}
.label {
    display: flex;
    justify-content: space-between;
    font-family: 'Halant', serif;
    font-size: 32px;
    margin: 3% 20% 3% 10%;

    padding: 0;
    text-align: left;
    
    
}

.input {

    font-family: 'Manrope', sans-serif;
    width: 60%;
    height: 40px;
    font-size: 16px ;
    border-radius: 4px;
    border-width: 0.5px;
    padding: 15px;
}

.label>select {
        font-family: 'Manrope', sans-serif;
        width: 64.5%;
        height: 70px;
        border-radius: 4px;
        border-width: 0.5px;
        font-size: 16px ;
        
      
    
}
.formbutton  {
    
    height: 70px;
    width:64.5%;
    background-color: #155EEF;
    color: white;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    border-width: 0.5px;   
}

.buttondiv {
    text-align: end;
    margin: 0% 20% 10% 10%;
    padding: 0 0 5% 0;
    
}

legend{

 

}
fieldset {
    margin: 3% 20% 3% 10%;
    border: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    
}

.skills,.genders{
    font-family: 'Halant', serif;
    font-size: 32px;
    width: 35%;
}



div>label{
    font-family: 'Manrope', sans-serif;
    font-size: 24px ;
    
}

.skill,.gender {
    height:24px; 
    width:24px;
    margin: 8px;
 
}